div.fullscreen
  div.wrapper
    h1.hero Adam Shaukat
    div.mug
    div
      h2 About Me
      h2 Some Work
      h2 Resume
      h2 Contact

hr

//- {% for section in site.sections %}
//- {{ section.title }}
//-	# <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
//-{% endfor %}


div
  h2 Adam Shaukat
  p Adam is an actor based in New York City. He is a student of the Yale School of Drama.
