---
layout: default-no-header
---
<div class="sidenav">
  {% for section in site.sections %}
    <h2>
      <a href="#" class="{{ section.title | slugify }}">{{ section.title}}</a>
    </h2>
  {% endfor %}
</div>
<div class="fullscreen">
  <div class="wrapper">
    <h1 class="hero">Adam Shaukat</h1>
    <div class="mug"></div>
    <div>
      {% for section in site.sections %}
        <h2 class="menu" id="{{ section.title | slugify }}">{{ section.title}}</h2>
      {% endfor %}
    </div>
  </div>
</div>
<hr/>
<div>
  {% for section in site.sections %}
    <div class="section {{ section.title | slugify }}">
      <h1>{{ section.title }}</h1>
      {{ section.content }}
      <hr />
    </div>
  {% endfor %}
</div>
